.background-container {
  position: relative;
  z-index: 0;
  overflow: hidden;
  min-height: calc(
    100vh - 19.5vh
  ); /*adjust -#vh according to height of footer and navbar*/
}

.background-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../assets/sunsetLandscape.png");
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1; /* Put it behind the content */
  pointer-events: none; /* Allow clicks to pass through */
}
