.chart-container {
  background-color: transparent !important;
}

.pie-chart .recharts-surface,
.pie-chart .recharts-wrapper,
.bar-chart .recharts-surface,
.bar-chart .recharts-wrapper {
  background-color: transparent !important;
}

.basic-result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 16px;
  background-color: var(--light-color) !important;
  box-shadow: 0 4px 12px var(--card-shadow);
  width: fit-content;
}
