@import url("https://fonts.googleapis.com/css?family=Nunito");

.text {
  font-family: "Nunito", sans-serif;
  padding-bottom: 2rem;
}

.header {
  font-weight: bolder;
  margin: 6% 0;
}

.title {
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: bold;
  padding: 4%;
  background-color: #8aaae5;
}

.description-text {
  margin-top: 2%;
  text-align: center;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin-bottom: 2%;
}

.card-style {
  width: 22rem;
  max-width: 30rem;
  justify-content: center;
  background-color: #cadcfc;
  border: primary;
  border-width: 2%;
}

.card-container {
  display: flex;
  justify-content: center;
}

/* Dark to light
#00246B
#8AAAE5
#CADCFC

*/
