@import url("https://fonts.googleapis.com/css?family=Nunito");

.text {
  font-family: "Nunito", sans-serif;
  padding-bottom: 2rem;
}

.header {
  font-weight: bolder;
}

.title {
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: bold;
}

.description-text {
  margin-top: 2%;
  text-align: center;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin-bottom: 2%;
}
