html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  --primary-purple: #6a0dad;
  --accent-purple: #b57edc;
  --light-color: #deacf5;
  --lightest-color: #ffd8fa;
  --text-gray: #333333;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --focus-purple: #e9d5ff;
  --light-gray: #ddd;
  --medium-gray: #555;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--lightest-color);
}

.App-footer {
  flex: 1;
  background-color: #d3d2d2;
  width: 100%;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*
.custom-nav-link {
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: black !important;
  font-weight: bolder;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
